.header-text {
  font-family: 'Raleway', sans-serif;
}

.excuse-top {
  padding: 4rem 0;
}

.excuse-top .fa {
  margin-bottom: 2rem;
}

.excuse-text {
  font-family: 'Alfa Slab One';
}

.excuse-description {
  font-size: 1.5rem;
}

@media (max-width: 800px) {
  .header-text {
    font-size: 1.5rem;
  }

  .excuse-text {
    font-size: 1.5rem;
  }

  .excuse-description {
    font-size: 1rem;
  }
}
