.header-text {
  font-family: 'Raleway', sans-serif;
}

.excuse-top {
  padding: 4rem 0;
}

.excuse-top .fa, .card-body .fa {
  margin-bottom: 2rem;
}

.excuse-text {
  font-family: 'Alfa Slab One';
}

.excuse-description {
  font-size: 1.5rem;
}

.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
}

.card {
  transition: all .2s
}

.card:hover {
  box-shadow: 0 0 1rem rgba(0,0,0,.1);
  transform: scale(1.04);
}

.card a {
  color: #575757;

}

.card a:hover {
  text-decoration:none;
}

text-decoration:none;


@media (max-width: 800px) {
  .header-text {
    font-size: 1.5rem;
  }

  .excuse-text {
    font-size: 1.5rem;
  }

  .excuse-description {
    font-size: 1rem;
  }

  .card-columns {
    column-count: 2 !important;
  }
}
